
@{
    ViewData["Title"] = "Index";
}

<!--==================== CARD START ====================-->
<section>
    <div class="box-container">
        <div class="box">
            <div class="image">
                <img src="~/image/cars/black-lamborgini.jpg" alt="">
            </div>
            <div class="info">
                <h4>Lamborghini</h4>
                <h5>Gallardo</h5>
                <mark>Bakı/Nərimanov</mark>
                <p>Avtomobil yaxsi veziyyetdedir. Hec bir problemi yoxdur.</p>
                <span>₼40.00 günlük <s>$50.00</s></span>
                <div class="stars">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star unchecked"></span>
                </div>
            </div>
            <div class="btn">
                <a href="">Detallı</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="~/image/cars/white-toyota.jpg" alt="">
            </div>
            <div class="info">
                <h4>Toyota</h4>
                <h5>Camry</h5>
                <mark>Gəncə/Kəpəz</mark>
                <p>Sureti sevenler ucun</p>
                <span>₼20.00 günlük <s>$30.00</s></span>
                <div class="stars">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star unchecked"></span>
                    <span class="fa fa-star unchecked"></span>
                </div>
            </div>
            <div class="btn">
                <a href="">Detallı</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="~/image/cars/bmw-grn.jpg" alt="">
            </div>
            <div class="info">
                <h4>BMW</h4>
                <h5>Mondeo</h5>
                <mark>Bakı/Nəsimi</mark>
                <p>Avtomobil saz veziyyetdedir</p>
                <span>₼35.00 günlük <s>$40.00</s></span>
                <div class="stars">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star unchecked"></span>
                    <span class="fa fa-star unchecked"></span>
                </div>
            </div>
            <div class="btn">
                <a href="">Detallı</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="~/image/cars/mercedes-black-2022.jpg" alt="">
            </div>
            <div class="info">
                <h4>Mercedes</h4>
                <h5>CR-V</h5>
                <mark>Lənkəran/Liman</mark>
                <p>Avtomobil saz veziyyetdedir</p>
                <span>₼20.00 günlük <s>$30.00</s></span>
                <div class="stars">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star unchecked"></span>
                    <span class="fa fa-star unchecked"></span>
                </div>
            </div>
            <div class="btn">
                <a href="">Detallı</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="~/image/cars/audi-ylw.jpg" alt="">
            </div>
            <div class="info">
                <h4>Audi</h4>
                <h5>RS7</h5>
                <mark>Bakı/28 May</mark>
                <p>Avtomobil saz veziyyetdedir</p>
                <span>₼45.00 günlük <s>$55.00</s></span>
                <div class="stars">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star unchecked"></span>
                    <span class="fa fa-star unchecked"></span>
                </div>
            </div>
            <div class="btn">
                <a href="">Detallı</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="~/image/cars/porsche-cayenne.jpg" alt="">
            </div>
            <div class="info">
                <h4>Porsche</h4>
                <h5>Cayenne</h5>
                <mark>Bakı/Səbail</mark>
                <p>Avtomobil saz veziyyetdedir</p>
                <span>₼45.00 günlük <s>$55.00</s></span>
                <div class="stars">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star unchecked"></span>
                    <span class="fa fa-star unchecked"></span>
                </div>
            </div>
            <div class="btn">
                <a href="">Detallı</a>
            </div>
        </div>

    </div>

</section>
<!--==================== CARD END ====================-->


<!--==================== LOADMORE BUTTON START ====================-->
<div class="loadmore__btn">
    <button>Daha Çox</button>
</div>
<!--==================== LOADMORE BUTTON END ====================-->


<!--==================== VIDEO SECTION START ====================-->
<div class="video__section">
    <div class="ads-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/33crJ6BiJ20" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<!--==================== VIDEO SECTION END ====================-->
